# Cloning the repository

In [1]:
!git clone https://github.com/atharva-diwan/ME781_course_project_grp31.git

Cloning into 'ME781_course_project_grp31'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 60 (delta 24), reused 50 (delta 14), pack-reused 0
Unpacking objects: 100% (60/60), done.

In [2]:
cd ME781_course_project_grp31/

/content/ME781_course_project_grp31

# installing package dependencies

In [3]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 3)) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 4)) (0.11.2)
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 5)) (3.6.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (3.0.6)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn->-r requirements.txt (line 4)) (1.4.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown->-r requirements.txt (line 5)) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown->-r requirements.txt (line 5)) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (2.10)

In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [5]:
!git clone https://github.com/atharva-diwan/ME781_course_project_grp31.git

Cloning into 'ME781_course_project_grp31'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 60 (delta 24), reused 50 (delta 14), pack-reused 0
Unpacking objects: 100% (60/60), done.

In [6]:
cd ME781_course_project_grp31/

/content/ME781_course_project_grp31/ME781_course_project_grp31

In [7]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 3)) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 4)) (0.11.2)
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 5)) (3.6.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn->-r requirements.txt (line 4)) (1.4.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown->-r requirements.txt (line 5)) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown->-r requirements.txt (line 5)) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown->-r requirements.txt (line 5)) (1.24.3)

In [13]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans

#Downloading big5 personality dataset

In [9]:
!gdown 'https://drive.google.com/uc?export=download&id=1EyZ8IBXhPrIkvLnjKaFVIAsAejbgTQHZ'

Downloading...
From: https://drive.google.com/uc?export=download&id=1EyZ8IBXhPrIkvLnjKaFVIAsAejbgTQHZ
To: /content/ME781_course_project_grp31/ME781_course_project_grp31/big_5_dataset.zip
100% 167M/167M [00:00<00:00, 181MB/s]

In [10]:
!unzip 'big_5_dataset.zip' -d big5_personality_dataset/

Archive:  big_5_dataset.zip
 extracting: big5_personality_dataset/IPIP-FFM-data-8Nov2018/.directory
  inflating: big5_personality_dataset/IPIP-FFM-data-8Nov2018/codebook.txt
  inflating: big5_personality_dataset/IPIP-FFM-data-8Nov2018/data-final.csv
  inflating: big5_personality_dataset/IPIP-FFM-data-8Nov2018/sample_excel_file.xlsx

## Loading the Data Set

In [18]:
data_raw = pd.read_csv('big5_personality_dataset/IPIP-FFM-data-8Nov2018/data-final.csv', sep='\t')
data = data_raw.copy()
pd.options.display.max_columns = 150

data.drop(data.columns[50:107], axis=1, inplace=True)
data.drop(data.columns[51:], axis=1, inplace=True)

print('Number of participants: ', len(data))
data.head()

Number of participants:  1015341

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,AGR1,AGR2,AGR3,AGR4,AGR5,AGR6,AGR7,AGR8,AGR9,AGR10,CSN1,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,country
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,5.0,2.0,4.0,2.0,3.0,2.0,4.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0,GB
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,4.0,1.0,5.0,1.0,5.0,3.0,4.0,5.0,3.0,3.0,2.0,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0,MY
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,1.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0,GB
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0,2.0,4.0,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0,GB
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,1.0,5.0,5.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,5.0,3.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,1.0,5.0,5.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0,KE

In [19]:
print('Is there any missing value? ', data.isnull().values.any())
print('How many missing values? ', data.isnull().values.sum())
data.dropna(inplace=True)
print('Number of participants after eliminating missing values: ', len(data))

Is there any missing value?  True
How many missing values?  89227
Number of participants after eliminating missing values:  1013481

#scaling the data

In [20]:
df_model = data.drop('country', axis=1)
scaler = StandardScaler()                      #for scaling the data
df_model = scaler.fit_transform(df_model)

# Applying PCA with no. of components as 36

In [21]:

no_of_components = 36
pca_train = PCA(n_components=no_of_components)                             # this instance of trained pca model should be used on test data
pca_fit = pca_train.fit_transform(df_model)
df_pca_fit = pd.DataFrame(pca_fit) #converting array to dataframe
df_pca_fit.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
0,-4.285804,-0.119113,1.935718,-1.500708,0.124215,0.494774,0.590228,-0.114948,-0.418778,0.631791,0.452622,-0.101086,-0.082931,1.046259,-0.556608,-0.184135,0.588537,-0.873856,-0.211518,-0.037057,0.154115,-0.694992,-0.839002,0.081221,-0.275951,-0.283225,0.068893,-0.423876,-0.273044,0.638355,0.342434,0.594387,-0.105124,0.081923,0.373338,0.573752
1,0.436310,1.336240,-2.355951,2.113431,-2.369085,-0.227339,-1.518483,0.346099,-1.188726,0.186270,0.102379,-0.480851,-0.720614,-0.272045,-0.140374,0.364613,1.181800,-0.149177,0.653994,-0.582033,0.680473,0.720253,0.305509,0.021340,-1.270126,-0.256101,1.172508,0.978143,-0.906335,0.466137,-0.563238,0.735815,-0.070663,0.317293,-0.335110,-1.265866
2,-0.550436,1.329255,-1.163808,0.304404,-2.137306,1.151729,1.419347,0.474900,0.790420,-0.030078,-0.125041,-0.394491,0.503536,0.775103,-0.755271,-1.265794,1.660044,0.894918,-0.945974,-0.716236,-0.011511,-0.931448,0.238419,0.137650,0.368049,-0.106649,-1.000288,0.585107,0.112246,-0.112715,0.246467,0.688977,0.122090,0.011128,-0.496000,-0.043757
3,0.953152,0.196126,1.427540,-0.729366,-2.097261,0.414084,0.300335,-0.631061,-0.326679,-0.504752,0.348833,1.516982,-1.058679,-0.240232,0.990476,0.663963,-0.452590,-0.542707,0.878676,1.448188,0.184231,-0.337766,0.003795,-0.088463,-0.796706,-0.304931,-0.498555,-0.183818,-0.275780,-0.351493,-0.546820,-0.118907,0.423608,0.875843,0.170725,-0.026258
4,-4.061475,0.934173,-4.297929,-0.945726,-0.943454,0.219050,-0.083314,-0.227881,-1.423707,-0.506582,-0.251533,0.241180,0.041808,0.010444,-0.282741,-0.233279,0.599288,-0.067808,0.280065,-0.462810,-0.096291,-0.002749,-0.190936,0.040142,-0.077695,-0.912275,0.728335,0.353711,0.590802,0.984410,0.744649,0.415593,0.733837,-0.137760,0.110907,0.944230

# K-Means Clustering

## Clustering data into 5 Personality Groups

In [22]:
# Creating K-means Cluster Model
from sklearn.cluster import KMeans

# defining 5 clusters and fitting the model

kmeans = KMeans(n_clusters=5)
k_fit = kmeans.fit(df_pca_fit)                 # kmeans model fit on data with reduced dimensions

In [23]:
# Predicting the Clusters

pd.options.display.max_columns = 10
predictions = k_fit.labels_
df_pca_fit['Clusters'] = predictions
df_pca_fit.head()

,0,1,2,3,4,...,32,33,34,35,Clusters
0,-4.285804,-0.119113,1.935718,-1.500708,0.124215,...,-0.105124,0.081923,0.373338,0.573752,2
1,0.436310,1.336240,-2.355951,2.113431,-2.369085,...,-0.070663,0.317293,-0.335110,-1.265866,0
2,-0.550436,1.329255,-1.163808,0.304404,-2.137306,...,0.122090,0.011128,-0.496000,-0.043757,2
3,0.953152,0.196126,1.427540,-0.729366,-2.097261,...,0.423608,0.875843,0.170725,-0.026258,0
4,-4.061475,0.934173,-4.297929,-0.945726,-0.943454,...,0.733837,-0.137760,0.110907,0.944230,2

## Implementing the Model to check anyone's personality

answer the questions in an Microsoft Excel spread sheet. 
Then add that data into this notebook and put your answers to the model to see in which category you belong to.

A sample excel file is provided in the big5_dataset folder

In [24]:
my_data = pd.read_excel('big5_personality_dataset/IPIP-FFM-data-8Nov2018/sample_excel_file.xlsx')
my_data

   EXT1  EXT2  EXT3  EXT4  EXT5  ...  OPN6  OPN7  OPN8  OPN9  OPN10
0     2     3     3     2     2  ...     1     5     2     5      5

[1 rows x 50 columns]

In [25]:
#my_data_array = np.array(my_data)

scaler = StandardScaler()                      
my_data1 = scaler.fit_transform(my_data)         # standard scaling of the data

#pca = PCA(n_components=no_of_components)       # NOTE: pca, which is the instance of PCA() should be the same which was trained above on the big5 personality dataset
my_data_pca_fit = pca_train.transform(my_data1) # transforming data to 36 principal components 

assert(my_data_pca_fit.shape == (1,no_of_components))

#predicting the cluster

In [26]:
my_personality = k_fit.predict(my_data_pca_fit)
print('My Personality Cluster: ', my_personality)

My Personality Cluster:  [4]

#Finding the roommate/flatmate

In [27]:
def find_roommate(df_pca_fit, target_cluster, my_data_pca_fit):

  """
  Arguments:
  df_pca_fit = dataframe storing all the transformed data points (36 dimensions)
  target_cluster = cluster number of the test data point
  my_data_pca_fit = the transformed test data point

  Returns:
  array storing indices of closest 10 data points belonging to the target cluster
  """

  df_cluster = df_pca_fit.groupby('Clusters').get_group(target_cluster)   #selecting the data cooresponding to the desired cluster number
  #print(df_cluster.head())
  df_cluster = df_cluster.drop('Clusters', axis=1)
  df_cluster_array = np.array(df_cluster)

  data_point_list = list(np.array(df_pca_fit.drop('Clusters', axis=1)))   # list to store data points of all clusters

  point_list = []          # list to store all data points of target clusters 

  #print(df_cluster_array.shape)
  
  dist_list = []            # list to store euclidean distance of the target point form all other data points belonging to the same cluster


  for i in range(df_cluster_array.shape[0]):
    point1 = my_data_pca_fit
    point2 = df_cluster_array[i]
    point_list.append(point2)                      #storing data points belonging to the target cluster
    
    eucl_dist = np.linalg.norm(point1 - point2)   # euclidean distance b/w target point and other points in the target cluster
    
    dist_list.append(eucl_dist)
  

  min_idx = []                          # array to store indices of the 10 closest data points

  for d in sorted(dist_list)[:10]:          #selecting first 10 minimum distances

    temp_idx = dist_list.index(d)
    #print(point_list[temp_idx])
    #print(data_point_list[0])
    #point_idx = data_point_list.index(point_list[temp_idx])

    for k in range(len(data_point_list)):
      if list(point_list[temp_idx]) == list(data_point_list[k]):
        point_idx = k                                                  # storing the index of closest points w.r.t to the original dataframe (df_pca_fit)

    min_idx.append(point_idx)          


  return min_idx

In [28]:
idx_list = find_roommate(df_pca_fit, my_personality[0], my_data_pca_fit)

In [29]:
print(idx_list)  #these indices denote the position of 10 potential roommates in decreasing order

[599920, 938050, 995652, 17674, 240775, 595733, 989070, 345719, 981035, 589972]